:root{
    /*fonts*/
    --font-bold: 'Urbanist';
    --font-normal: 'Urbanist', 'regular';

    /*Dark view Palette*/
    --bgColor-dark:      #1b1b1b;
    --secondColor-dark:  #2b2b2b;
    --thirdColor-dark:   #ffffff;
    --destakColor-dark:  #866ffd;


    /*Light view Palette*/
    --bg-color:      #000000;
    --second-color:  #f2f3f7;
    --third-color:   #ffffff;
    --destak-color:  #866ffd;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist';
}

html, body, #app{
    width: 100vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    /* background-color: var(--bg-color); */

}

body{
    
    background-color: var(--secondColor-dark);
}

#app{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    color: var(--second-color);
}

.siderbar{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondColor-dark);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.siderbar .header{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siderbar .menu{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.siderbar .menu li{
    margin-bottom: 15px;
    padding: 10px;
    width: 95%;
    background-color: var(--secondColor-dark);
    border-radius: 12px;
    /* border: solid 1px var(--destak-color); */
    list-style: none;

}

.menu li i{
    font-size: 15px;
}


.menu li a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--third-color);
    font-size: 16px;

}

.menu li:hover{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--third-color);
    background-color: var(--destak-color);
    font-size: 16px;
    font-weight: bold;
    transition: all .2s;

}



.menu li a:hover{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--third-color);
    background-color: var(--destak-color);
    font-size: 18px;
    font-weight: bold;
    transition: all .2s;
}


.display-main{
    width: 100%;
}

.display-main .header-main{
    width: 100%;
    height: 100px;
    display: flex;
    /* border: solid 1px var(--destak-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.header-main .display-greet-user{
    /* border: solid 1px var(--destak-color); */
    padding: 10px;
}

.display-greet-user .title-greet-user{
    font-family: 'Urbanist';
    font-weight: lighter;
    font-size: 45px;
    line-height: 60px;
}

.display-greet-user .text-name-user{
    font-family: 'Urbanist';
    font-weight: bolder;
}

#input-search{
    position: relative;
    width: 450px;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--bgColor-dark);

}

#icon-search{
    position: absolute;
    top: 41px !important; 
    left: 803px;
    z-index: 2;
    /* background: var(--secondColor-dark); */
    color: #656464;
    /* border: 1px solid red; */
    font-size: 18px;
}

.display-cards{
    width: 100%;
    margin-top: -5px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.display-cards .card{
    width: 160px;
    height: 200px;
    border: solid 1px var(--destak-color);
    border-radius: 15px;
    
}

.header-card, .body-card, .footer-card{
    width: 100%;
    padding: 16px;
}

.header-card{
    height: 40%;
}
